html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.1em;
}

#mapid {
  height: 100vh;
}

.popup-image {
  width: 300px;
  height: auto;
}

.contacts-in-popup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.navigation-icon {
  border: 1px solid black;
}

.navigation-icon::before {
  content: 'GPS';
  font-size: 10px;
}
/* .leaflet-control-locate {
  background-color: red;
} */
